@using Donate.Components.Pages.Users
@using Donate.Data.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.EntityFrameworkCore
@using System.Text.Json
@using System.Text
@using System.Text.Encodings.Web
@inject NavigationManager NavigationManager

<EditForm Model="_DonationDetail" OnvalidSubmit="OnSave">
    <DataAnnotationsValidator />
    <FormValidation @ref="FormValidation" />

    <div class="row mb-3">
        <div class="col-12 col-md-6">
            <label for="Input.Organization" class="mb-2 text-muted">Organization</label>
            <SelectDonation @bind-Value="_DonationDetail.Donation" ID="Input.Organization" />
            <ValidationMessage For="@(() => _DonationDetail.Donation)" />
        </div>

        <div class="col-12 col-md-6">
            <label for="Input.Title" class="mb-2 text-muted">Title</label>
            <InputText @bind-Value="_DonationDetail.Title" id="Input.Title" class="form-control" aria-required="true" placeholder="Food Drive" autofocus />
            <ValidationMessage For="() => _DonationDetail.Title" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-md-6">
            <label for="Input.StartDate" class="mb-2 text-muted">Start Date</label>
            <InputDate @bind-Value="_DonationDetail.StartDate" id="Input.StartDate" class="form-control" aria-required="true" @onchange="OnStartDateChanged" />
            <ValidationMessage For="() => _DonationDetail.StartDate" />
        </div>

        <div class="col-12 col-md-6">
            <label for="Input.EndDate" class="mb-2 text-muted">End Date</label>
            <InputDate @bind-Value="_DonationDetail.EndDate" id="Input.EndDate" class="form-control" aria-required="true" @onchange="OnEndDateChanged" />
            <ValidationMessage For="() => _DonationDetail.EndDate" />
        </div>
    </div>

    <div class="mb-3">
        <label for="Input.Description" class="mb-2 text-muted">Description</label>
        <InputTextArea @bind-Value="_DonationDetail.Description" id="Input.Description" class="form-control" placeholder="Description here..." rows="5" />
        <ValidationMessage For="() => _DonationDetail.Description" />
    </div>

    <div class="align-items-center d-flex">
        <button type="submit" class="btn btn-primary mx-auto px-5">@(_DonationDetail.Id == 0 ? "Add" : "Update")</button>
    </div>
</EditForm>

@code {
    [Parameter] public DonationDetail DonationDetail { get; set; } = new();
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; } = default!;
    private DonationDetail _DonationDetail = new();
    FormValidation FormValidation = default!;

    protected override async void OnInitialized()
    {
        if (DonationDetail.Id > 0)
        {
            using var db = await ContextFactory.CreateDbContextAsync();
            var donation = await db.Projects.FirstOrDefaultAsync(x => x.Id == DonationDetail.Id);
            if (donation == null)
            {
                await ModalInstance.CloseAsync(ModalResult.Cancel("NotFound"));
                return;
            }
            else
            {
                DonationDetail = donation.Clone<DonationDetail>()!;
            }
        }

        _DonationDetail = DonationDetail.Clone()!;

        StateHasChanged();
    }

    async Task OnSave()
    {
        var errors = new Dictionary<string, List<string>>();
        FormValidation.ClearErrors();

        using var db = await ContextFactory.CreateDbContextAsync();

        try
        {
            if (_DonationDetail.Id == 0)
            {
                var newDonationDetail = new DonationDetail
                    {
                        DonationId = _DonationDetail.Donation?.Id ?? 0,
                            Title = _DonationDetail.Title.Trim(),
                        Description = _DonationDetail.Description.Trim(),
                        StartDate = _DonationDetail.StartDate.HasValue ? _DonationDetail.StartDate.Value.ToUniversalTime() : null,
                        EndDate = _DonationDetail.EndDate.HasValue ? _DonationDetail.EndDate.Value.ToUniversalTime() : null,
                        OrganizationId = _DonationDetail.OrganizationId,
                    };
                await db.Projects.AddAsync(newDonationDetail);
                await db.SaveChangesAsync();

                await ModalInstance.CloseAsync(ModalResult.Ok());
            }
            else
            {
                var projectInDb = await db.Projects.FirstOrDefaultAsync(x => x.Id == _DonationDetail.Id);
                if (projectInDb == null)
                {
                    await ModalInstance.CloseAsync(ModalResult.Cancel("NotFound"));
                    return;
                }
                else
                {
                    projectInDb.Title = _DonationDetail.Title.Trim();
                    projectInDb.Description = _DonationDetail.Description.Trim();
                    projectInDb.StartDate = _DonationDetail.StartDate.HasValue ? _DonationDetail.StartDate.Value.ToUniversalTime() : null;
                    projectInDb.EndDate = _DonationDetail.EndDate.HasValue ? _DonationDetail.EndDate.Value.ToUniversalTime() : null;
                    projectInDb.OrganizationId = _DonationDetail.OrganizationId;

                    db.Projects.Update(projectInDb);
                    await db.SaveChangesAsync();

                    await ModalInstance.CloseAsync(ModalResult.Ok());
                }
            }
        }
        catch (Exception ex)
        {
            ToastSrv.ShowError(ex.Message);
        }
    }

    private void OnStartDateChanged(ChangeEventArgs e)
    {
        var startDate = DateTime.Parse(e.Value.ToString());
        if (_DonationDetail.EndDate.HasValue && startDate > _DonationDetail.EndDate.Value)
            _DonationDetail.EndDate = startDate;
    }

    private void OnEndDateChanged(ChangeEventArgs e)
    {
        var endDate = DateTime.Parse(e.Value.ToString());
        if (_DonationDetail.StartDate.HasValue && endDate < _DonationDetail.StartDate.Value)
            _DonationDetail.StartDate = endDate;
    }
}